@inject IPermissionsService permissions
@inject NavigationManager Navigation

<div class="top-row pl-4 navbar navbar-dark">
    <AuthorizeView Policy="Discord">
        <Authorized>
            <img class="profile-image" src="@context.User.GetAvatarUrl(128)" alt="Avatar of @context.User.Identity.Name" />
            <a class="navbar-brand" href="">@context.User.Identity.Name</a>
        </Authorized>
        <NotAuthorized>
            <a class="navbar-brand" href="">MihuBot</a>
        </NotAuthorized>
    </AuthorizeView>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="runtime-utils">
                <span class="oi oi-wrench" aria-hidden="true"></span> Runtime utils
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="runtime-notifications">
                <span class="oi oi-bell" aria-hidden="true"></span> Runtime notifications
            </NavLink>
        </li>
        <AuthorizeView Policy="Discord">
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@discordLoginHrefUrl">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                    </NavLink>
                </li>
            </NotAuthorized>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="reminders">
                        <span class="oi oi-timer" aria-hidden="true"></span> Reminders
                    </NavLink>
                </li>
                @if (permissions.HasPermission("custommessage", context.User.GetDiscordUserId()))
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="custom-message">
                            <span class="oi oi-chat" aria-hidden="true"></span> Custom message
                        </NavLink>
                    </li>
                }
                @if (permissions.HasPermission("mc", context.User.GetDiscordUserId()))
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="minecraft-remote">
                            <span class="oi oi-terminal" aria-hidden="true"></span> Minecraft
                        </NavLink>
                    </li>
                }
                @if (context.User.IsAdmin())
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="debug-logs">
                            <span class="oi oi-bug" aria-hidden="true"></span> Debug logs
                        </NavLink>
                    </li>
                }
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private string discordLoginHrefUrl;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        discordLoginHrefUrl = $"Account/Login/Discord?returnUrl=%2F{Uri.EscapeDataString(Navigation.ToBaseRelativePath(Navigation.Uri))}";
    }
}
