@page "/runtime-utils"
@using MihuBot.Commands;
@using MihuBot.RuntimeUtils;
@using System.Collections.Concurrent;
@using System.ComponentModel.DataAnnotations;
@using MihuBot.RuntimeUtils.Jobs
@using Octokit;
@using System.Text.RegularExpressions;
@inject RuntimeUtilsService runtimeUtils
@inject NavigationManager Navigation
@inject GitHubClient GitHub
@inject IJSRuntime JS
@implements IDisposable
@rendermode InteractiveServer

<PageTitle>Runtime utils</PageTitle>
<h1>Runtime utils</h1>

<AuthorizeView Policy="GitHub">
    <Authorized>
        <p>
            <small class="text-muted">Logged in as @@@_githubUserLogin</small>
        </p>

        @if (_hasRuntimeUtilsPermissions)
        {
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newJobModal">
                Submit new job
            </button>

            <div class="modal fade" id="newJobModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newJobModalLabel">Submit a new job</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <EditForm Context="NewJobForm" Model="_newJob" OnValidSubmit="SubmitNewJobAsync">
                                <DataAnnotationsValidator />
                                <ValidationSummary />

                                @if (!string.IsNullOrEmpty(_submittingJobError))
                                {
                                    <div class="alert alert-danger" role="alert">
                                        Failed to submit the job: @_submittingJobError
                                    </div>
                                }

                                <div class="form-check">
                                    <InputText style="width: 90%;" @bind-Value=_newJob.InputPROrBranch placeholder="PR number/link or branch to test"
                                        data-toggle="tooltip" data-html="true"
                                        title="88394<br />https://github.com/dotnet/runtime/pull/88394<br />https://github.com/MihaZupan/runtime/tree/main<br />https://github.com/MihaZupan/runtime/blob/main/README.md" />
                                </div>
                                <br />
                                <div class="form-check">
                                    <InputCheckbox @bind-Value=_newJob.MentionPrOnTrackingIssue id="mentionPrCheck" />
                                    <label for="mentionPrCheck">Mention the PR on the tracking issue</label>
                                </div>
                                <div class="form-check">
                                    <InputCheckbox @bind-Value=_newJob.FastJob id="fastJobCheck" />
                                    <label for="fastJobCheck">Run on a more powerful VM</label>
                                </div>
                                <div class="form-check">
                                    <InputCheckbox @bind-Value=_newJob.RunOnArm id="runOnArmCheck" />
                                    <label for="runOnArmCheck">Run on ARM64</label>
                                </div>
                                <div class="form-check">
                                    <InputCheckbox @bind-Value=_newJob.RunCctors id="runCctorsCheck" />
                                    <label for="runCctorsCheck">Pass --cctors to jit-diff</label>
                                </div>
                                <div class="form-check">
                                    <InputCheckbox @bind-Value=_newJob.RunTier0 id="runTier0Check" />
                                    <label for="runTier0Check">Generate tier0 code</label>
                                </div>

                                <p>
                                    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseAdvancedOptions">
                                        Advanced options
                                    </button>
                                </p>
                                <div class="collapse" id="collapseAdvancedOptions">
                                    <div class="card card-body">
                                        <div class="form-check">
                                            <InputCheckbox @bind-Value=_newJob.IncludeKnownNoise id="includeKnownNoiseCheck" />
                                            <label for="includeKnownNoiseCheck">Include noisy diffs</label>
                                        </div>
                                        <div class="form-check">
                                            <InputCheckbox @bind-Value=_newJob.RunOnHetzner id="runOnHetznerCheck" />
                                            <label for="runOnHetznerCheck">Run on a Hetzner VM instead of Azure</label>
                                        </div>
                                        <div class="form-check">
                                            <InputCheckbox @bind-Value=_newJob.RunOnIntel id="runOnIntelCheck" />
                                            <label for="runOnIntelCheck">Run on an Intel-based CPU instead of AMD</label>
                                        </div>
                                        <div class="form-check">
                                            <InputCheckbox @bind-Value=_newJob.IncludeNewMethodRegressions id="includeNewMethodsCheck" />
                                            <label for="includeNewMethodsCheck">Include new method "regressions"</label>
                                        </div>
                                        <div class="form-check">
                                            <InputCheckbox @bind-Value=_newJob.IncludeRemovedMethodImprovements id="includeRemovedMethodsCheck" />
                                            <label for="includeRemovedMethodsCheck">Include removed method "improvements"</label>
                                        </div>
                                        <div class="form-check">
                                            <InputText style="width: 90%;" @bind-Value=_newJob.DependsOn placeholder="List of PRs this change depends on" />
                                        </div>
                                        <br />
                                        <div class="form-check">
                                            <InputText style="width: 90%;" @bind-Value=_newJob.CombineWith placeholder="List of PRs to combine with this one" />
                                        </div>
                                        <br />
                                        <div class="form-check">
                                            <InputText style="width: 90%;" @bind-Value=_newJob.CustomArguments placeholder="Custom arguments" />
                                        </div>
                                    </div>
                                </div>

                                <p>
                                    <small class="text-muted">@@MihuBot @_newJob.Arguments</small>
                                </p>
                                <input disabled="@_submittingJob" type="submit" class="btn btn-primary" value="@(_submittingJob ? "Submitting ..." : "Submit")" />
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>Ask @@MihaZupan to grant you access.</p>
        }
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login/GitHub?returnUrl=%2Fruntime-utils">
            <img src="github-mark.svg"/>
            <strong style="font-size: 24px">Login with GitHub</strong>
        </a>
    </NotAuthorized>
</AuthorizeView>

<br />
<br />
<h2>Currently active jobs</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Logs</th>
        </tr>
    </thead>
    @foreach (var (job, logs) in _activeJobs.Zip(_logs))
    {
        <tr>
            <td scope="row"><a href="@job.ProgressDashboardUrl">@job.JobTitle</a></td>
            <td>
                <pre>
                    <code>
                        @foreach (string line in logs)
                        {
                            @line
                            <br />
                        }
                    </code>
                </pre>
            </td>
        </tr>
    }
    @if (_activeJobs.Length == 0)
    {
        <tr>
            <td>No active jobs</td>
            <td>N/A</td>
        </tr>
    }
</table>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private const int NumLinesPerJob = 3;
    private readonly CancellationTokenSource _cts = new();
    private JobBase[] _activeJobs;
    private ConcurrentQueue<string>[] _logs;
    private int _logsChangeCounter;
    private string _githubUserLogin;
    private bool _hasRuntimeUtilsPermissions;

    private bool _submittingJob;
    private string _submittingJobError;

    private readonly NewJobModel _newJob = new();

    private class NewJobModel
    {
        [Required]
        [RegularExpression(
            pattern: @"^\d{1,8}|https://github\.com/(?:dotnet/runtime/pull/\d{1,8}|[A-Za-z\d-_\.]+/[A-Za-z\d-_\.]+/(?:tree|blob)/[A-Za-z\d-_\.]+)(?:[\?#/].*)?$",
            ErrorMessage = "Invalid PR number / link / branch")]
        public string InputPROrBranch { get; set; }

        public bool MentionPrOnTrackingIssue { get; set; } = true;
        public bool RunOnHetzner { get; set; }
        public bool RunOnIntel { get; set; }
        public bool FastJob { get; set; }
        public bool RunOnArm { get; set; }
        public bool RunCctors { get; set; } = true;
        public bool RunTier0 { get; set; }
        public bool IncludeKnownNoise { get; set; }
        public bool IncludeNewMethodRegressions { get; set; }
        public bool IncludeRemovedMethodImprovements { get; set; }

        [RegularExpression(@"^\d{1,8}(?:,\d{1,8})*$", ErrorMessage = "Must be a comma-separated list of PR numbers")]
        public string DependsOn { get; set; }

        [RegularExpression(@"^\d{1,8}(?:,\d{1,8})*$", ErrorMessage = "Must be a comma-separated list of PR numbers")]
        public string CombineWith { get; set; }

        public string CustomArguments { get; set; }

        public string Arguments =>
            (MentionPrOnTrackingIssue ? "" : "-NoPRLink ") +
            (FastJob ? "-fast " : "") +
            (RunOnArm ? "-arm " : "") +
            (RunCctors ? "" : "-nocctors ") +
            (RunTier0 ? "-tier0 " : "") +
            (IncludeKnownNoise ? "-includeKnownNoise " : "") +
            (RunOnHetzner ? "-hetzner " : "") +
            (RunOnIntel ? "-intel " : "") +
            (IncludeNewMethodRegressions ? "-includeNewMethodRegressions " : "") +
            (IncludeRemovedMethodImprovements ? "-includeRemovedMethodImprovements " : "") +
            (string.IsNullOrEmpty(DependsOn) ? "" : $"-dependsOn {DependsOn} ") +
            (string.IsNullOrEmpty(CombineWith) ? "" : $"-combineWith {CombineWith} ") +
            CustomArguments;
    }

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null &&
            (await authenticationState).User.TryGetGitHubLogin(out _githubUserLogin))
        {
            _hasRuntimeUtilsPermissions = runtimeUtils.CheckGitHubUserPermissions(_githubUserLogin);
        }

        if (OperatingSystem.IsWindows() && runtimeUtils.GetAllActiveJobs().Length == 0)
        {
            runtimeUtils.StartJobCore(new FakeInMemoryJob(runtimeUtils, "Dummy"));
        }

        _activeJobs = runtimeUtils.GetAllActiveJobs();
        _logs = new ConcurrentQueue<string>[_activeJobs.Length].InitializeWithDefaultCtor();

        _ = Task.Run(async () =>
        {
            try
            {
                int lastCounter = 0;

                while (!_cts.IsCancellationRequested)
                {
                    await Task.Delay(100, _cts.Token);

                    int counter = Volatile.Read(ref _logsChangeCounter);

                    if (counter != lastCounter)
                    {
                        lastCounter = counter;
                        _ = InvokeAsync(StateHasChanged);
                    }
                }
            }
            catch { }
        }, CancellationToken.None);

        for (int i = 0; i < _activeJobs.Length; i++)
        {
            JobBase job = _activeJobs[i];
            ConcurrentQueue<string> logs = _logs[i];

            _ = Task.Run(async () =>
            {
                try
                {
                    await foreach (string line in job.StreamLogsAsync(_cts.Token))
                    {
                        if (line is null)
                        {
                            Interlocked.Increment(ref _logsChangeCounter);
                        }
                        else
                        {
                            if (logs.Count == NumLinesPerJob)
                            {
                                logs.TryDequeue(out _);
                            }

                            const int MaxLineLength = 90;
                            logs.Enqueue(line.TruncateWithDotDotDot(MaxLineLength).PadRight(MaxLineLength, ' '));
                        }
                    }

                    Interlocked.Increment(ref _logsChangeCounter);
                }
                catch { }
            }, CancellationToken.None);
        }

        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("addTooltips");
        }
    }

    private async Task SubmitNewJobAsync()
    {
        _submittingJobError = null;
        _submittingJob = true;

        try
        {
            string prOrBranch = _newJob.InputPROrBranch;
            JobBase newJob;

            if (GitHubHelper.TryParseIssueOrPRNumber(prOrBranch, out int prNumber))
            {
                PullRequest pullRequest;
                try
                {
                    pullRequest = await runtimeUtils.GetPullRequestAsync(prNumber);
                }
                catch
                {
                    _submittingJobError = "Failed to fetch the PR from GitHub";
                    return;
                }

                if (OperatingSystem.IsWindows())
                {
                    _submittingJobError = $"PR={pullRequest.Title}";
                    return;
                }

                newJob = runtimeUtils.StartJitDiffJob(pullRequest, _githubUserLogin, _newJob.Arguments, comment: null);
            }
            else
            {
                if (await GitHubHelper.TryParseGithubRepoAndBranch(GitHub, prOrBranch) is not { } branch)
                {
                    _submittingJobError = "Failed to parse the PR number/link or branch";
                    return;
                }

                if (OperatingSystem.IsWindows())
                {
                    _submittingJobError = $"Repo={branch.Repository} Branch={branch.Branch.Name}";
                    return;
                }

                newJob = runtimeUtils.StartJitDiffJob(branch, _githubUserLogin, _newJob.Arguments);
            }

            Navigation.NavigateTo(newJob.ProgressDashboardUrl, forceLoad: true);
        }
        catch (Exception ex)
        {
            _submittingJobError = ex.ToString();
        }
        finally
        {
            _submittingJob = false;
        }
    }

    public void Dispose() => _cts.Cancel();
}
