@inject IPermissionsService permissions
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <AuthorizeView Policy="Discord">
        <Authorized>
            <img class="profile-image" src="@context.User.GetAvatarUrl(128)" alt="Avatar of @context.User.Identity.Name" />
            <a class="navbar-brand" href="">@context.User.Identity.Name</a>
        </Authorized>
        <NotAuthorized>
            <a class="navbar-brand" href="">MihuBot</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="runtime-utils">
                <span class="bi bi-wrench-adjustable" aria-hidden="true"></span> Runtime utils
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="runtime-notifications">
                <span class="bi bi-bell-fill" aria-hidden="true"></span> Runtime notifications
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="bi bi-search" aria-hidden="true"></span> Search
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="triage">
                <span class="bi bi-card-checklist" aria-hidden="true"></span> Triage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="data-ingestion">
                <span class="bi bi-database" aria-hidden="true"></span> Data ingestion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="regex?pattern=Hello%20World">
                <span class="bi bi-regex" aria-hidden="true"></span> Regex
            </NavLink>
        </div>
        <AuthorizeView Policy="Discord">
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@discordLoginHrefUrl">
                        <span class="bi bi-box-arrow-left" aria-hidden="true"></span> Log in (Discord)
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="reminders">
                        <span class="bi bi-stopwatch" aria-hidden="true"></span> Reminders
                    </NavLink>
                </div>
                @if (permissions.HasPermission("custommessage", context.User.GetDiscordUserId()))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="custom-message">
                            <span class="bi bi-chat" aria-hidden="true"></span> Custom message
                        </NavLink>
                    </div>
                }
                @if (permissions.HasPermission("mc", context.User.GetDiscordUserId()))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="minecraft-remote">
                            <span class="bi bi-terminal-fill" aria-hidden="true"></span> Minecraft
                        </NavLink>
                    </div>
                }
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="debug-logs">
                        <span class="bi bi-bug-fill" aria-hidden="true"></span> Debug logs
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin">
                        <span class="bi bi-lock-fill" aria-hidden="true"></span> Admin
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="GitHub">
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@githubLoginHrefUrl">
                        <span class="bi bi-box-arrow-left" aria-hidden="true"></span> Log in (GitHub)
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Logout">
                        <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Log out
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string discordLoginHrefUrl;
    private string githubLoginHrefUrl;

    protected override void OnInitialized()
    {
        string relativePath = Uri.EscapeDataString(Navigation.ToBaseRelativePath(Navigation.Uri));
        discordLoginHrefUrl = $"Account/Login/Discord?returnUrl=%2F{relativePath}";
        githubLoginHrefUrl = $"Account/Login/GitHub?returnUrl=%2F{relativePath}";
    }
}
