@page "/runtime-utils/{jobId}"
@using MihuBot.RuntimeUtils;
@using System.Collections.Concurrent;
@inject RuntimeUtilsService runtimeUtils
@implements IDisposable

@if (_job is null)
{
    <div>Can't find a job with that id :/</div>
}
else
{
    <h1><a href="@_job.TestedPROrBranchLink">@_job.JobTitle</a></h1>
    <div>For all the logs, see <a href="@_job.ProgressUrl">@_job.ProgressUrl</a></div>
    <br />
    @if (_job.TrackingIssue is not null)
    {
        <div>Tracking issue: <a href="@_job.TrackingIssue.HtmlUrl">@_job.TrackingIssue.HtmlUrl</a></div>
        <br />
    }
    @if (_job.Completed)
    {
        <div>The build has completed (took @_job.GetElapsedTime()).</div>
    }
    else
    {
        <div>The build is still in progress (@_job.GetElapsedTime()) ...</div>

        <br />

        @if (_job.LastSystemInfo is { } info)
        {
            var cpuUsageCaption = $"CPU usage: {info.CpuUsagePercentage}% ({info.CpuUsage:N1} / {info.CpuCoresAvailable:N1} cores)";
            var memoryUsageCaption = $"Memory usage: {info.MemoryUsagePercentage}% ({info.MemoryUsageGB:N1} / {info.MemoryAvailableGB:N1} GB)";
            var cpuUsageWidth = $"{info.CpuUsagePercentage}%";
            var memoryUsageWidth = $"{info.MemoryUsagePercentage}%";

            <div>@cpuUsageCaption</div>
            <div class="progress" style="width: 25%">
                <div class="progress-bar" role="progressbar" style="width: @cpuUsageWidth"></div>
            </div>

            <div>@memoryUsageCaption</div>
            <div class="progress" style="width: 25%">
                <div class="progress-bar" role="progressbar" style="width: @memoryUsageWidth"></div>
            </div>
        }
    }
    <br />
    <pre><code>
        @foreach (string line in _lines)
        {
            @line
            <br />
        }
    </code></pre>
}

@code
{
    private const int NumLines = 28;

    private readonly CancellationTokenSource _cts = new();
    private readonly ConcurrentQueue<string> _lines = new();

    [Parameter]
    public string JobId { get; set; }

    private JobBase _job;

    protected override void OnInitialized()
    {
        if (runtimeUtils.TryGetJob(JobId, publicId: true, out _job))
        {
            Task.Run(async () =>
            {
                try
                {
                    using var timer = new PeriodicTimer(TimeSpan.FromSeconds(0.1));
                    SystemHardwareInfo previousSystemInfo = null;
                    do
                    {
                        SystemHardwareInfo current = _job.LastSystemInfo;

                        if (!ReferenceEquals(previousSystemInfo, current))
                        {
                            previousSystemInfo = current;

                            _ = InvokeAsync(StateHasChanged);
                        }
                    }
                    while (await timer.WaitForNextTickAsync(_cts.Token));
                }
                catch { }
            });

            Task.Run(async () =>
            {
                try
                {
                    await foreach (string line in _job.StreamLogsAsync(_cts.Token))
                    {
                        if (line is null)
                        {
                            _ = InvokeAsync(StateHasChanged);
                        }
                        else
                        {
                            if (_lines.Count == NumLines)
                            {
                                _lines.TryDequeue(out _);
                            }

                            string normalized = line.TruncateWithDotDotDot(190);

                            _lines.Enqueue(normalized);
                        }
                    }

                    _ = InvokeAsync(StateHasChanged);
                }
                catch { }
            });
        }
    }

    public void Dispose()
    {
        _cts.Cancel();
    }
}
